### Imports

In [84]:
import numpy as np
import os

### Set up file paths

In [85]:
srcpath = os.path.split(os.path.abspath(''))[0]
rootpath = os.path.split(srcpath)[0]
datapath = os.path.join(srcpath, 'data')
rawpath = os.path.join(datapath, 'raw')
respath = os.path.join(rawpath, 'reservations_rec_gov/')
tabpath = os.path.join(rawpath, 'tables_rec_gov/')

### Generate lists of files in each raw data folder

In [109]:
list_tables = []
for root, dirs, file in os.walk(tabpath):
    list_tables.extend(file)
list_tables.pop(0)

list_reservations = []
for root, dirs, file in os.walk(respath):
    list_reservations.extend(file)
list_reservations.pop(0)

# remove .DS_Store for our EDA

'.DS_Store'

## Display attributes for all tables

In [101]:
for table in list_tables:
    df = pd.read_csv(tabpath + table)
    print(f'{table}')
    print([col for col in df.columns])
    display(df.head())
    print('\n\n')

PermitEntranceZones_API_v1.csv
['PermitEntranceZoneID', 'PermitEntranceID', 'Zone']

   PermitEntranceZoneID  PermitEntranceID        Zone
0                 52558               155  Mt Whitney
1                 52559               156  Mt Whitney
2                 52560               157  Mt Whitney
3                 52561               158  Mt Whitney
4                 52562               159  Mt Whitney

Media_API_v1.csv
['MediaID', 'MediaType', 'EntityID', 'EntityType', 'Title', 'Subtitle', 'Description', 'EmbedCode', 'Height', 'Width', 'URL', 'Credits', 'IsPrimary', 'IsPreview', 'IsGallery']

,MediaID,MediaType,EntityID,EntityType,Title,Subtitle,Description,EmbedCode,Height,Width,URL,Credits,IsPrimary,IsPreview,IsGallery
0,00000249-049f-4a1b-ad9a-c603a891dc99,Image,68609,Campsite,Hernando Point Campground Site 10,NaN,Hernando Point Campground Site 10,NaN,525,700,https://cdn.recreation.gov/public/2018/09/01/2...,Park Ranger Brandi Harms,False,True,False
1,0000655b-ee56-45fd-8a8e-ed74bae0ecde,Image,104354,Campsite,C-06,NaN,C-06,NaN,525,700,https://cdn.recreation.gov/public/2018/11/07/1...,Pro Sport,False,False,True
2,00009560-13d1-454b-a719-6e95b21eaa8b,Image,74820,Campsite,NaN,NaN,NaN,NaN,338,450,https://cdn.recreation.gov/public/2018/08/04/1...,NaN,False,False,True
3,00017ca0-f01b-411b-9ef7-015c2e4ce4cf,Image,47988,Campsite,Indian Creek Site # 131,NaN,Indian Creek Site # 131,NaN,340,1440,https://cdn.recreation.gov/public/2019/02/25/1...,USACE Mark Twain Lake,True,False,False
4,00018324-ef26-41a5-9189-78c4f74fb5e8,Image,68758,Campsite,Campsite #18,NaN,Campsite #18,NaN,525,700,https://cdn.recreation.gov/public/2019/06/26/2...,USFS,False,True,False

FacilityAddresses_API_v1.csv
['FacilityAddressID', 'FacilityID', 'FacilityAddressType', 'FacilityStreetAddress1', 'FacilityStreetAddress2', 'FacilityStreetAddress3', 'City', 'PostalCode', 'AddressStateCode', 'AddressCountryCode', 'LastUpdatedDate']

,FacilityAddressID,FacilityID,FacilityAddressType,FacilityStreetAddress1,FacilityStreetAddress2,FacilityStreetAddress3,City,PostalCode,AddressStateCode,AddressCountryCode,LastUpdatedDate
0,0a1d9348-9f9a-4f45-a7ab-d1fd56381ae1,621744,Default,82 East Dogwood,NaN,NaN,Moab,UT,84532,USA,2019-11-04
1,10000168,10000167,Default,Kemmerer Field Office,430 North Highway 189,NaN,Kemmerer,WY,83101,USA,2019-09-25
2,10000171,10000170,Default,NaN,NaN,NaN,NaN,SD,NaN,USA,2019-09-25
3,10000172,10000170,Default,NaN,NaN,NaN,NaN,NE,NaN,USA,2019-09-25
4,10000178,259167,Mailing,1450 Pennsylvania Avenue NW,NaN,NaN,Washington,DC,20230,USA,2019-11-04

Facilities_API_v1.csv
['FacilityID', 'LegacyFacilityID', 'OrgFacilityID', 'ParentOrgID', 'ParentRecAreaID', 'FacilityName', 'FacilityDescription', 'FacilityTypeDescription', 'FacilityUseFeeDescription', 'FacilityDirections', 'FacilityPhone', 'FacilityEmail', 'FacilityReservationURL', 'FacilityMapURL', 'FacilityAdaAccess', 'FacilityLongitude', 'FacilityLatitude', 'Keywords', 'StayLimit', 'Reservable', 'Enabled', 'LastUpdatedDate']

,FacilityID,LegacyFacilityID,OrgFacilityID,ParentOrgID,ParentRecAreaID,FacilityName,FacilityDescription,FacilityTypeDescription,FacilityUseFeeDescription,FacilityDirections,...,FacilityReservationURL,FacilityMapURL,FacilityAdaAccess,FacilityLongitude,FacilityLatitude,Keywords,StayLimit,Reservable,Enabled,LastUpdatedDate
0,10000167,NaN,126,NaN,NaN,Tail Race Campground,The Tail Race Campground features three campsi...,Campground,NaN,Located 1/4 mile south of Fontenelle Reservoir...,...,NaN,NaN,NaN,-110.060900,42.024400,NaN,NaN,False,True,2019-09-25
1,10000170,NaN,131,10632,NaN,Railroad Buttes OHV Area,"<p>Railroad Buttes area is one of a few large,...",Facility,NaN,"<p>From Rapid City, SD east on Highway 44 abou...",...,NaN,NaN,NaN,-102.860300,43.905900,NaN,NaN,False,True,2019-09-25
2,10000183,NaN,131,82838,NaN,Diamond Fork Cabin,<p>The Historic Diamond Fork Guard Station is ...,Facility,NaN,<p>The recommended route to the Guard Station ...,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,False,True,2018-10-31
3,10000207,NaN,128,6627,NaN,Group Campground,Nestled behind Sunset Cinder Cone about .75 mi...,Campground,NaN,Nestled behind Sunset Cinder Cone about .75 mi...,...,NaN,NaN,NaN,-113.566944,43.472778,Group Campground,NaN,False,True,2019-09-25
4,10000309,NaN,126,NaN,NaN,Windy Point Campground,"Located on the crest of the Cerbat Mountains, ...",Campground,$8/night per site,"From Kingman, Arizona, travel 18 miles north o...",...,NaN,NaN,NaN,-114.160087,35.435956,kingman,14 days,False,True,2019-09-25

Activities_API_v1.csv
['ActivityID', 'ActivityParentID', 'ActivityName', 'ActivityLevel']

   ActivityID  ActivityParentID              ActivityName  ActivityLevel
0           4                 0              AUTO TOURING              0
1           5                 0                    BIKING              0
2           6                 0                   BOATING              0
3           7                 0                  CLIMBING              0
4           8                 0  HISTORIC & CULTURAL SITE              0

Organizations_API_v1.csv
['OrgID', 'OrgType', 'OrgName', 'OrgImageURL', 'OrgURLText', 'OrgURLAddress', 'OrgAbbrevName', 'OrgJurisdictionType', 'OrgParentID', 'LastUpdatedDate']

,OrgID,OrgType,OrgName,OrgImageURL,OrgURLText,OrgURLAddress,OrgAbbrevName,OrgJurisdictionType,OrgParentID,LastUpdatedDate
0,126,Federal Agency,Bureau of Land Management,blm.gif,NaN,http://www.blm.gov,BLM,Federal,139,2018-06-26
1,127,Federal Agency,Fish and Wildlife Service,fws.gif,NaN,http://www.fws.gov,FWS,Federal,139,2018-06-26
2,128,Federal Agency,National Park Service,nps.gif,NaN,http://www.nps.gov,NPS,Federal,139,2018-06-26
3,129,Federal Agency,Bureau of Reclamation,bor.gif,NaN,http://www.usbr.gov,BOR,Federal,139,2018-06-26
4,130,Federal Agency,US Army Corps of Engineers,uasce.gif,NaN,http://www.usace.army.mil,USACE,Federal,162,2018-06-26

PermitEntrances_API_v1.csv
['PermitEntranceID', 'PermitEntranceType', 'FacilityID', 'PermitEntranceName', 'PermitEntranceDescription', 'District', 'Town', 'PermitEntranceAccessible', 'Longitude', 'Latitude', 'CreatedDate', 'LastUpdatedDate']

,PermitEntranceID,PermitEntranceType,FacilityID,PermitEntranceName,PermitEntranceDescription,District,Town,PermitEntranceAccessible,Longitude,Latitude,CreatedDate,LastUpdatedDate
0,1,Entry Point,233396,Duncan Lake (op),Method of travel is paddle. Access is from Wes...,Gunflint District,Grand Marais,False,-90.439444,48.062500,2014-05-02,2018-06-14
1,10,Entry Point,233396,Partridge Lake Trail (oh),"Method of travel is hiking only (if paddling, ...",Gunflint District,Grand Marais,False,-90.496960,48.077964,2014-05-02,2018-06-14
2,100,02 Leigh Lake,249986,LL06,"Three small sites surrounding Bearpaw Lake, ju...",NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14
3,101,Non Zone South,249986,PSS11,Designated as walk-up only for use during the ...,NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14
4,102,01 Jackson Lake,249986,JL07,For information regarding the walk-in availabi...,NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14

OrgEntities_API_v1.csv
['EntityID', 'OrgID', 'EntityType']

   EntityID  OrgID  EntityType
0        10    126    Rec Area
1       100    129    Rec Area
2  10000167    126  Campground
3  10000170    131    Facility
4  10000183    131    Facility

Tours_API_v1.csv
['TourID', 'FacilityID', 'TourName', 'TourType', 'TourDescription', 'TourDuration', 'TourAccessible', 'CreatedDate', 'LastUpdatedDate']

,TourID,FacilityID,TourName,TourType,TourDescription,TourDuration,TourAccessible,CreatedDate,LastUpdatedDate
0,100,234640,Grand Avenue,Cave Tour,"Dramatic cave changes, dry cave vs. damp cave,...",240,False,2014-05-02,2018-06-14
1,1006,250029,White House Easter Egg Roll,Historic Tour,White House Easter Egg Roll,0,True,2019-01-01,2018-01-01
2,1007,250029,White House Easter Egg Roll,Historic Tour,White House Easter Egg Roll,0,True,2019-01-01,2018-01-01
3,1008,234787,Sunrise Photo Tour,Historic Tour,Sunrise Photo Tour,60,True,2019-02-11,2019-02-11
4,1009,234636,Douglass Home Group Tour,Historic Tour,Tour the Victorian mansion that was the last r...,30,True,2019-02-13,2019-02-13

CampsiteAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

   AttributeID     AttributeName AttributeValue  EntityID EntityType
0            9  Campfire Allowed            Yes         1   Campsite
1           11      Checkin Time       12:00 PM         1   Campsite
2           12     Checkout Time       12:00 PM         1   Campsite
3           23    Driveway Entry       Parallel         1   Campsite
4           25   Driveway Length            NaN         1   Campsite

Events_API_v1.csv
['EventID', 'EntityID', 'EntityType', 'EventName', 'Description', 'EventTypeDescription', 'EventFeeDescription', 'EventFrequencyDescription', 'EventScopeDescription', 'EventAgeGroup', 'EventRegistrationRequired', 'EventADAAccess', 'EventComments', 'EventEmail', 'EventURLAddress', 'EventURLText', 'EventStartDate', 'EventEndDate', 'SponsorName', 'SponsorClassType', 'SponsorPhone', 'SponsorEmail', 'SponsorURLAddress', 'SponsorURLText', 'LastUpdatedDate']

,EventID,EntityID,EntityType,EventName,Description,EventTypeDescription,EventFeeDescription,EventFrequencyDescription,EventScopeDescription,EventAgeGroup,...,EventURLText,EventStartDate,EventEndDate,SponsorName,SponsorClassType,SponsorPhone,SponsorEmail,SponsorURLAddress,SponsorURLText,LastUpdatedDate
0,10007854,2996,Asset,Get Into Your Sanctuary - annual event,NaN,NaN,https://sanctuaries.noaa.gov/visit/giys.html,https://sanctuaries.noaa.gov/visit/giys.html,NaN,False,...,2019-07-02,2019-07-02,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-02,NaN
1,10869,14529,Asset,Magnolia's Street Food,Thursday through Monday 9 a.m. to 4 p.m.,NaN,NaN,NaN,NaN,False,...,2017-03-01,2017-10-31,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-06,NaN
2,10870,14748,Asset,Bison Roundup,The Roundup consists of two separate events: T...,NaN,NaN,Park Events,NaN,False,...,0001-01-01,0001-01-01,NaN,NaN,http://stateparks.utah.gov/parks/antelope-isla...,NaN,NaN,NaN,2017-01-31,NaN

RecAreaFacilities_API_v1.csv
['RecAreaID', 'FacilityID']

   RecAreaID  FacilityID
0      16669    10000305
1       2782    10001053
2       2782    10001055
3        287    10001419
4        286    10001432

PermitEntranceAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

,AttributeID,AttributeName,AttributeValue,EntityID,EntityType
0,43,Important Information,Camping limited to designated U.S.F.S. sites.,1,PermitEntrance
1,43,Important Information,"Hiking only, canoeing not allowed. Camping lim...",10,PermitEntrance
2,43,Important Information,"Boat in is possible for these sites, but you w...",100,PermitEntrance
3,43,Important Information,For information regarding the walk-in availabi...,102,PermitEntrance
4,43,Important Information,Non-motorized boat in only site. Has a bear bo...,103,PermitEntrance

Links_API_v1.csv
['LinkID', 'LinkType', 'EntityID', 'EntityType', 'Title', 'Description', 'URL']

,LinkID,LinkType,EntityID,EntityType,Title,Description,URL
0,0000a89a9302a99679e891b60b365f44,Map,13900,Asset,Woodlands Trace Map,NaN,http://library.byways.org/a/static_maps/000/00...
1,0001974e71c4f8e01d6e6c63634a8f19,1,15056,Asset,BLM Idaho Twitter,NaN,http://www.twitter.com/BLMIdaho
2,0001fa474fefbd1ed1f23b1b8959f0c1,Official Web Site,5329,Asset,mm@cc.cc,NaN,http://www.michigandnr.com/parksandtrails/Park...
3,0004c070c6986795e511e8b9bd6ccede,Official Web Site,241272,Asset,Sawmill Gulch Campground,NaN,http://www.fs.usda.gov/recarea/arp/recarea/?re...
4,0004d79cd07f3cab1b2928af5898cbe2,Map,213131,Asset,SPILLWAY CAMPGROUND Map,NaN,http://publiclands.org/explore/reg_nat_forest....

TourAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

,AttributeID,AttributeName,AttributeValue,EntityID,EntityType
0,1,Accessibility,No,100,Tour
1,3,Amenities,Restrooms available at 1.1 miles and 2.5 miles.,100,Tour
2,19,Directions To Tour,All tours begin at the Visitor Center.,100,Tour
3,21,Distance (miles),4,100,Tour
4,43,Important Information,There are two brief restroom stops. Comfortabl...,100,Tour

Campsites_API_v1.csv
['CampsiteID', 'FacilityID', 'CampsiteName', 'CampsiteType', 'TypeOfUse', 'Loop', 'CampsiteAccessible', 'CampsiteLongitude', 'CampsiteLatitude', 'CreatedDate', 'LastUpdatedDate']

,CampsiteID,FacilityID,CampsiteName,CampsiteType,TypeOfUse,Loop,CampsiteAccessible,CampsiteLongitude,CampsiteLatitude,CreatedDate,LastUpdatedDate
0,1,232446,065,STANDARD NONELECTRIC,Overnight,LOOP C,False,-119.683914,37.550125,2014-05-02,2019-12-11
1,10,232446,075,STANDARD NONELECTRIC,Overnight,LOOP C,False,-119.684601,37.550136,2014-05-02,2019-12-12
2,100,232447,044,STANDARD NONELECTRIC,Overnight,UP1,False,-119.565040,37.737625,2014-05-02,2019-12-06
3,1000,232451,078,STANDARD NONELECTRIC,Overnight,Hodgdon Campground,False,-119.866541,37.799589,2014-05-02,2019-08-16
4,10000,232709,009,STANDARD ELECTRIC,Overnight,REYNOLDS CREEK,False,-97.264983,31.586164,2014-05-02,2019-08-16

RecAreaAddresses_API_v1.csv
['RecAreaAddressID', 'RecAreaID', 'RecAreaAddressType', 'RecAreaStreetAddress1', 'RecAreaStreetAddress2', 'RecAreaStreetAddress3', 'City', 'PostalCode', 'AddressStateCode', 'AddressCountryCode', 'LastUpdatedDate']

,RecAreaAddressID,RecAreaID,RecAreaAddressType,RecAreaStreetAddress1,RecAreaStreetAddress2,RecAreaStreetAddress3,City,PostalCode,AddressStateCode,AddressCountryCode,LastUpdatedDate
0,10000411,10000410,Default,Prineville District Office,3050 NE 3rd Street,NaN,Prineville,OR,97754,USA,2019-09-25
1,10001001,10001000,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
2,10001025,10001024,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
3,10001052,10001051,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
4,10003302,10003301,Default,22 Bear Creek Lake Rd.,NaN,NaN,Cumberland,VA,23040,USA,2019-09-25

MemberTours_API_v1.csv
['MemberTourID', 'TourID', 'TourName']

   MemberTourID  TourID                       TourName
0      20608853      53          Combo Tour Individual
1      20632953      53          Combo Tour Individual
2      20633153      53          Combo Tour Individual
3      20636285      85               Combo Group Tour
4       2064253       3  FDR Home & Museum Group Tours

RecAreas_API_v1.csv
['RecAreaID', 'OrgRecAreaID', 'ParentOrgID', 'RecAreaName', 'RecAreaDescription', 'RecAreaUseFeeDescription', 'RecAreaDirections', 'RecAreaPhone', 'RecAreaEmail', 'RecAreaReservationURL', 'RecAreaMapURL', 'RecAreaLongitude', 'RecAreaLatitude', 'StayLimit', 'Keywords', 'Reservable', 'Enabled', 'LastUpdatedDate']

,RecAreaID,OrgRecAreaID,ParentOrgID,RecAreaName,RecAreaDescription,RecAreaUseFeeDescription,RecAreaDirections,RecAreaPhone,RecAreaEmail,RecAreaReservationURL,RecAreaMapURL,RecAreaLongitude,RecAreaLatitude,StayLimit,Keywords,Reservable,Enabled,LastUpdatedDate
0,10,NaN,126,White Mountains National Recreation Area,"Located just an hour's drive from Fairbanks, A...",NaN,Begin your trip at the BLM office or the Alask...,800-437-7021 or 907-474-2200,EasternInterior@blm.gov,https://www.recreation.gov/camping/white-moun...,https://www.blm.gov/maps,-147.214000,65.546000,10 days,"White Mountains,",False,True,2019-09-25
1,100,NaN,129,Elephant Butte Reservoir,"<A HREF=""http://www.usbr.gov/projects/Facility...",NaN,"Take I-25 north from El Paso, Texas, about 125...",575-744-5923,kay.dunlap@state.nm.us,NaN,http://www.emnrd.state.nm.us/PRD/elephant.htm,-107.207770,33.176610,NaN,NaN,False,True,2019-09-25
2,10000410,NaN,126,Lower Crooked River Back Country Byway,"Just 40 minutes east of the hubbub of Bend, Or...",NaN,"<u>From Bend, Oregon</u>: Drive 33.3 miles eas...",541-416-6700,BLM_OR_PR_Mail@blm.gov,NaN,https://flic.kr/p/CNdZtg,-120.732940,43.850390,14 Days,"Prineville, Fishing, Rafting, Camping, Day Use...",False,True,2019-09-25
3,10001000,NaN,126,Monolith Garden Trail,The Monolith Garden Trail is an easy to modera...,NaN,Coyote Pass Trailhead: Follow I-40W to US-93 N...,(928) 718-3700,BLM_AZ_KFOWEB@blm.gov,NaN,https://www.avenzamaps.com/maps/908826/blm-ari...,-114.096861,35.204457,NaN,"kingman, cerbat foothills recreation area, cfra",False,True,2019-09-25
4,10001024,NaN,126,Cerbat Foothills Recreation Area (CFRA),"The 11,300 acre Cerbat Foothills Recreation Ar...",NaN,Coyote Pass Trailhead: Follow I-40W to US-93 N...,(928) 718-3700,BLM_AZ_KFOWEB@blm.gov,NaN,https://www.avenzamaps.com/maps/908826/blm-ari...,-114.096711,35.204400,NaN,kingman,False,True,2019-09-25

PermittedEquipment_API_v1.csv
['CampsiteID', 'EquipmentName', 'MaxLength']

   CampsiteID  EquipmentName      MaxLength
0           1            0.0           Tent
1           1           27.0             RV
2           1           18.0        Trailer
3           1           27.0  PICKUP CAMPER
4           1           18.0         POP UP

### Impressions
* Most tables aren't usefull for our questions
* `Facilities_API.csv` has:
    * Facility type description
    * Lat + Long
    * Stay limit
    * Reservable

In [108]:
for year in list_reservations:
    df = pd.read_csv(respath + year, encoding='latin-1')
    print(f'{year}')
    print([col for col in df.columns])
    #display(df.head(low_memory=False))
    display(df.head())
    display(df.info(null_counts=True))
    print('\n\n\n')

2008.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,116842959,3-60822,USACE,130,|1|70902|74307|74360|74595|71450|,CM2001330,BELTON LAKE,74360,FORT WORTH DIST.,71450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116909518,2-2119268,USFS,131,|1|70903|74315|74454|74939|70257|,F91903,BRADFORD RD -FS,74454,ALLEGHENY NF - FS,70257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,184540532,3-241736,USACE,130,|1|70902|74307|74360|74594|71203|,CM2000930,BARDWELL LAKE,74360,FORT WORTH DIST.,71203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,117098381,3-61228,USACE,130,|1|70902|74307|74360|74612|71502|,CM2075357,GRANGER LAKE,74360,FORT WORTH DIST.,71502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,184675614,3-243040,USACE,130,|1|70902|74307|74361|74632|71012|,CM4018030,TABLE ROCK LAKE,74361,LITTLE ROCK DIST.,71012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761250 entries, 0 to 1761249
Data columns (total 56 columns):
HistoricalReservationID      1761250 non-null int64
OrderNumber                  1761250 non-null object
Agency                       1761250 non-null object
OrgID                        1761250 non-null int64
CodeHierarchy                1761250 non-null object
RegionCode                   1761250 non-null object
RegionDescription            1761250 non-null object
ParentLocationID             1761250 non-null int64
ParentLocation               1761250 non-null object
LegacyFacilityID             1761250 non-null int64
Park                         1761250 non-null object
SiteType                     1761250 non-null object
UseType                      1761250 non-null object
ProductID                    1761250 non-null int64
EntityType                   1761250 non-null object
EntityID                     1408286 non-null float64
FacilityID                   1749839 non-null float64
FacilityZIP                  831940 non-null object
FacilityState                1761250 non-null object
FacilityLongitude            1761223 non-null float64
FacilityLatitude             1761223 non-null float64
CustomerZIP                  1759954 non-null object
CustomerState                1760955 non-null object
CustomerCountry              1761217 non-null object
Tax                          1761250 non-null float64
UseFee                       1761250 non-null float64
TranFee                      1761250 non-null float64
AttrFee                      1761250 non-null float64
TotalBeforeTax               1761250 non-null float64
TotalPaid                    1761250 non-null float64
StartDate                    1530018 non-null object
EndDate                      1389940 non-null object
OrderDate                    1761250 non-null object
NumberOfPeople               1761250 non-null int64
Tent                         402732 non-null float64
Popup                        66010 non-null float64
Trailer                      191318 non-null float64
RVMotorhome                  151023 non-null float64
Boat                         157 non-null float64
HorseTrailer                 0 non-null float64
Car                          43 non-null float64
FifthWheel                   105431 non-null float64
Van                          10450 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 15278 non-null float64
LargeTentOver9x12            5905 non-null float64
SmallTent                    3136 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 752.5+ MB

None

2009.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,445362129,2-10009619,USFS,131,|1|70903|72602|74414|72710|71595|,F51354,KERN RIVER RD - FS,74414,SEQUOIA NF - FS,71595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,399142207,2-8920687,USACE,130,|1|70902|74307|74362|74636|73110|,CM5002570,CANTON LAKE,74362,TULSA DISTRICT,73110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,445365417,3-884073,USACE,130,|1|70902|72603|74345|74509|73366|,CG3000200,ALBENI FALLS DAM,74345,SEATTLE DISTRICT,73366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,492466412,3-986748,BLM,126,|1|70901|74323|74329|74475|74083|,125,Umpqua,74329,Coos Bay,74083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,399100234,2-8919158,USFS,131,|1|70903|74313|74427|74864|70185|,F61201,HEBO RD - FS,74427,SIUSLAW NF - FS,70185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051407 entries, 0 to 2051406
Data columns (total 56 columns):
HistoricalReservationID      2051407 non-null int64
OrderNumber                  2051407 non-null object
Agency                       2051407 non-null object
OrgID                        2051407 non-null int64
CodeHierarchy                2051407 non-null object
RegionCode                   2051407 non-null object
RegionDescription            2051407 non-null object
ParentLocationID             2051407 non-null int64
ParentLocation               2051407 non-null object
LegacyFacilityID             2051407 non-null int64
Park                         2051407 non-null object
SiteType                     2051407 non-null object
UseType                      2051407 non-null object
ProductID                    2051407 non-null int64
EntityType                   2051407 non-null object
EntityID                     1657410 non-null float64
FacilityID                   2044564 non-null float64
FacilityZIP                  956309 non-null object
FacilityState                2050428 non-null object
FacilityLongitude            2050405 non-null float64
FacilityLatitude             2050405 non-null float64
CustomerZIP                  2049920 non-null object
CustomerState                2051131 non-null object
CustomerCountry              2051382 non-null object
Tax                          2051407 non-null float64
UseFee                       2051407 non-null float64
TranFee                      2051407 non-null float64
AttrFee                      2051407 non-null float64
TotalBeforeTax               2051407 non-null float64
TotalPaid                    2051407 non-null float64
StartDate                    1749210 non-null object
EndDate                      1586785 non-null object
OrderDate                    2051407 non-null object
NumberOfPeople               2051407 non-null int64
Tent                         432337 non-null float64
Popup                        69912 non-null float64
Trailer                      204220 non-null object
RVMotorhome                  160870 non-null float64
Boat                         186 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   117513 non-null object
Van                          11056 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 16893 non-null float64
LargeTentOver9x12            5112 non-null float64
SmallTent                    3065 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(30), int64(6), object(20)
memory usage: 876.5+ MB

None

reservations2018.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat', 'LatLongPoint']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat,LatLongPoint
0,2976269875,4-4358197,NPS,128.0,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
1,2976269875,4-4358197,NPS,128.0,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
2,2976269875,4-4358197,NPS,128.0,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
3,2976371845,4-4358345,NPS,128.0,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...
4,2976358486,4-4358374,NPS,128.0,|1|70904|74265|70710|70711|,KLGO-9825,Klondike Gold Rush National Historical Park,74265,Alaska Region,70711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<e6100000 010cabaa aaaaaaba 4d40610b b6600bea ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3299805 entries, 0 to 3299804
Data columns (total 57 columns):
HistoricalReservationID      3299805 non-null int64
OrderNumber                  3299805 non-null object
Agency                       3299805 non-null object
OrgID                        3285797 non-null float64
CodeHierarchy                3299805 non-null object
RegionCode                   3299805 non-null object
RegionDescription            3299805 non-null object
ParentLocationID             3299805 non-null int64
ParentLocation               3299805 non-null object
LegacyFacilityID             3299805 non-null int64
Park                         3299805 non-null object
SiteType                     3299805 non-null object
UseType                      2576930 non-null object
ProductID                    3299805 non-null int64
EntityType                   3299805 non-null object
EntityID                     2862876 non-null float64
FacilityID                   3285797 non-null float64
FacilityZIP                  2890859 non-null object
FacilityState                3272766 non-null object
FacilityLongitude            3285040 non-null float64
FacilityLatitude             3285040 non-null float64
CustomerZIP                  3282013 non-null object
CustomerState                3283480 non-null object
CustomerCountry              3291654 non-null object
Tax                          3299804 non-null float64
UseFee                       0 non-null float64
TranFee                      0 non-null float64
AttrFee                      1 non-null float64
TotalBeforeTax               3299805 non-null float64
TotalPaid                    3299805 non-null object
StartDate                    3299804 non-null object
EndDate                      2852241 non-null object
OrderDate                    3299805 non-null object
NumberOfPeople               3286143 non-null float64
Tent                         826332 non-null float64
Popup                        76060 non-null float64
Trailer                      473434 non-null float64
RVMotorhome                  291129 non-null float64
Boat                         756 non-null float64
HorseTrailer                 0 non-null float64
Car                          2224189 non-null float64
FifthWheel                   176535 non-null float64
Van                          63890 non-null float64
CanoeKayak                   37022 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    2011 non-null float64
PickupCamper                 39302 non-null float64
LargeTentOver9x12            17595 non-null float64
SmallTent                    24123 non-null float64
Marinaboat                   1 non-null object
LatLongPoint                 3285796 non-null object
dtypes: float64(32), int64(4), object(21)
memory usage: 1.4+ GB

None

2015.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,2019039433,2-32196786,USFS,131,|1|70903|74312|74395|74751|74197|,F40204,CASCADE RD,74395,BOISE NF - FS,74197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019134646,2-32195127,USACE,130,|1|70902|74307|74362|74636|73388|,CM5002570,CANTON LAKE,74362,TULSA DISTRICT,73388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019134722,6-2494838,USFS,131,|1|70903|72602|74407|74797|109033|,F50253,PALOMAR RD - FS,74407,CLEVELAND NF - FS,109033,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2068426196,3-3347118,USACE,130,|1|70902|74307|74360|74612|71505|,CM2075357,GRANGER LAKE,74360,FORT WORTH DIST.,71505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2068426206,6-2611957,USFS,131,|1|70903|72602|74407|74797|109033|,F50253,PALOMAR RD - FS,74407,CLEVELAND NF - FS,109033,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949219 entries, 0 to 2949218
Data columns (total 56 columns):
HistoricalReservationID      2949219 non-null int64
OrderNumber                  2949219 non-null object
Agency                       2936576 non-null object
OrgID                        2949219 non-null int64
CodeHierarchy                2949219 non-null object
RegionCode                   2949219 non-null object
RegionDescription            2949219 non-null object
ParentLocationID             2949219 non-null int64
ParentLocation               2949219 non-null object
LegacyFacilityID             2949219 non-null int64
Park                         2949219 non-null object
SiteType                     2949219 non-null object
UseType                      2949219 non-null object
ProductID                    2949219 non-null int64
EntityType                   2949219 non-null object
EntityID                     2411672 non-null float64
FacilityID                   2841977 non-null float64
FacilityZIP                  1283207 non-null object
FacilityState                2842641 non-null object
FacilityLongitude            2842587 non-null float64
FacilityLatitude             2842587 non-null float64
CustomerZIP                  2941925 non-null object
CustomerState                2940217 non-null object
CustomerCountry              2949215 non-null object
Tax                          2949219 non-null float64
UseFee                       2949219 non-null float64
TranFee                      2949219 non-null float64
AttrFee                      2949219 non-null float64
TotalBeforeTax               2949219 non-null float64
TotalPaid                    2949219 non-null float64
StartDate                    2457548 non-null object
EndDate                      1972081 non-null object
OrderDate                    2949219 non-null object
NumberOfPeople               2949219 non-null int64
Tent                         644373 non-null float64
Popup                        69861 non-null float64
Trailer                      311305 non-null float64
RVMotorhome                  206930 non-null float64
Boat                         450 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   135622 non-null float64
Van                          36592 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 26832 non-null float64
LargeTentOver9x12            14645 non-null float64
SmallTent                    12914 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.2+ GB

None

2014.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,1544299270,6-1755730,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1544299336,6-1755733,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1544300921,6-1755748,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1544299304,6-1755731,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1544300953,6-1755749,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654437 entries, 0 to 2654436
Data columns (total 56 columns):
HistoricalReservationID      2654437 non-null int64
OrderNumber                  2654437 non-null object
Agency                       2645665 non-null object
OrgID                        2654437 non-null int64
CodeHierarchy                2654437 non-null object
RegionCode                   2654434 non-null object
RegionDescription            2654434 non-null object
ParentLocationID             2654437 non-null int64
ParentLocation               2654434 non-null object
LegacyFacilityID             2654437 non-null int64
Park                         2654437 non-null object
SiteType                     2654437 non-null object
UseType                      2654437 non-null object
ProductID                    2654437 non-null int64
EntityType                   2654437 non-null object
EntityID                     2131956 non-null float64
FacilityID                   2572034 non-null float64
FacilityZIP                  1151493 non-null object
FacilityState                2572034 non-null object
FacilityLongitude            2572001 non-null float64
FacilityLatitude             2572001 non-null float64
CustomerZIP                  2648719 non-null object
CustomerState                2646944 non-null object
CustomerCountry              2654436 non-null object
Tax                          2654437 non-null float64
UseFee                       2654437 non-null float64
TranFee                      2654437 non-null float64
AttrFee                      2654437 non-null float64
TotalBeforeTax               2654437 non-null float64
TotalPaid                    2654437 non-null float64
StartDate                    2172944 non-null object
EndDate                      1796216 non-null object
OrderDate                    2654437 non-null object
NumberOfPeople               2654437 non-null int64
Tent                         571999 non-null float64
Popup                        68384 non-null float64
Trailer                      275285 non-null float64
RVMotorhome                  190619 non-null float64
Boat                         574 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   128920 non-null float64
Van                          29134 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 24459 non-null float64
LargeTentOver9x12            12520 non-null float64
SmallTent                    9763 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.1+ GB

None

2016.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,2078081704,2-32732134,USACE,130,|1|70902|74304|74350|74559|71075|,CH3013280,OLD HICKORY LAKE,74350,NASHVILLE DISTRICT,71075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2078083331,2-32732551,USFS,131,|1|70903|72602|74411|74812|70392|,F50755,OJAI RD - FS,74411,LOS PADRES NF -FS,70392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2078083497,2-32732552,USFS,131,|1|70903|72602|74416|72724|75429|,F51753,YUBA RIVER RD -FS,74416,TAHOE NF - FS,75429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2078083555,4-3155416,NPS,128,|1|70904|74324|77803|77813|,CAVE-7170,Carlsbad Caverns National Park,74324,Intermountain Region,77813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2078083581,2-32732553,USFS,131,|1|70903|74311|74387|72667|70468|,F30406,RED ROCK RD -FS,74387,COCONINO NF - FS,70468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980714 entries, 0 to 2980713
Data columns (total 56 columns):
HistoricalReservationID      2980714 non-null int64
OrderNumber                  2980714 non-null object
Agency                       2980714 non-null object
OrgID                        2980714 non-null int64
CodeHierarchy                2980714 non-null object
RegionCode                   2980714 non-null object
RegionDescription            2980714 non-null object
ParentLocationID             2980714 non-null int64
ParentLocation               2980714 non-null object
LegacyFacilityID             2980714 non-null int64
Park                         2980714 non-null object
SiteType                     2980714 non-null object
UseType                      2980714 non-null object
ProductID                    2980714 non-null int64
EntityType                   2980663 non-null object
EntityID                     2683493 non-null float64
FacilityID                   2974120 non-null float64
FacilityZIP                  1266949 non-null object
FacilityState                2980316 non-null object
FacilityLongitude            2980249 non-null float64
FacilityLatitude             2980249 non-null float64
CustomerZIP                  2972925 non-null object
CustomerState                2972765 non-null object
CustomerCountry              2980712 non-null object
Tax                          2980714 non-null float64
UseFee                       2980714 non-null float64
TranFee                      2980714 non-null float64
AttrFee                      2980714 non-null float64
TotalBeforeTax               2980714 non-null float64
TotalPaid                    2980714 non-null float64
StartDate                    2734234 non-null object
EndDate                      2187268 non-null object
OrderDate                    2980714 non-null object
NumberOfPeople               2980714 non-null int64
Tent                         712189 non-null float64
Popup                        72626 non-null float64
Trailer                      358012 non-null float64
RVMotorhome                  228162 non-null float64
Boat                         565 non-null float64
HorseTrailer                 0 non-null float64
Car                          1 non-null float64
FifthWheel                   145858 non-null float64
Van                          43974 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 30070 non-null float64
LargeTentOver9x12            16062 non-null float64
SmallTent                    17472 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.2+ GB

None

2017.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,2434304548,2-36681755,USFS,131,|1|70903|72601|72630|72684|71879|,F00531,SITKA RD - FS,72630,TONGASS NF - FS,71879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2434322404,4-3699000,NPS,128,|1|70904|74268|77805|77815|,INDE-4450,Independence National Historical Park,74268,Northeast Region,77815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2434322425,4-3699001,NPS,128,|1|70904|74327|72368|72369|,VALR,World War II Valor in the Pacific,74327,Pacific West Region,72369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2434322473,4-3699002,NPS,128,|1|70904|74327|74292|135840|,SEKI-8550,Sequoia and Kings Canyon National Park,74327,Pacific West Region,135840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2434322626,2-36683841,NPS,128,|1|70904|74324|74282|70971|,GRCA-8210,Grand Canyon National Park,74324,Intermountain Region,70971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3303553 entries, 0 to 3303552
Data columns (total 56 columns):
HistoricalReservationID      3303553 non-null int64
OrderNumber                  3303553 non-null object
Agency                       3303553 non-null object
OrgID                        3303553 non-null int64
CodeHierarchy                3303553 non-null object
RegionCode                   3303553 non-null object
RegionDescription            3303553 non-null object
ParentLocationID             3303553 non-null int64
ParentLocation               3303553 non-null object
LegacyFacilityID             3303553 non-null int64
Park                         3303553 non-null object
SiteType                     3303553 non-null object
UseType                      3303553 non-null object
ProductID                    3303553 non-null int64
EntityType                   3303553 non-null object
EntityID                     2955293 non-null float64
FacilityID                   3293708 non-null float64
FacilityZIP                  1321968 non-null object
FacilityState                3303181 non-null object
FacilityLongitude            3303104 non-null float64
FacilityLatitude             3303104 non-null float64
CustomerZIP                  3295341 non-null object
CustomerState                3295319 non-null object
CustomerCountry              3303553 non-null object
Tax                          3303553 non-null float64
UseFee                       3303553 non-null float64
TranFee                      3303553 non-null float64
AttrFee                      3303553 non-null float64
TotalBeforeTax               3303553 non-null float64
TotalPaid                    3303553 non-null float64
StartDate                    2996135 non-null object
EndDate                      2400246 non-null object
OrderDate                    3303553 non-null object
NumberOfPeople               3303553 non-null int64
Tent                         773514 non-null float64
Popup                        74506 non-null float64
Trailer                      415213 non-null float64
RVMotorhome                  255553 non-null float64
Boat                         432 non-null float64
HorseTrailer                 0 non-null float64
Car                          150 non-null float64
FifthWheel                   161370 non-null float64
Van                          52886 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 33908 non-null float64
LargeTentOver9x12            16859 non-null float64
SmallTent                    20999 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.4+ GB

None

2013.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,1263367423,6-1291116,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1263367610,6-1291118,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1263367716,6-1291119,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1263367785,6-1291120,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1263403189,6-1291576,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555657 entries, 0 to 2555656
Data columns (total 56 columns):
HistoricalReservationID      2555657 non-null int64
OrderNumber                  2555657 non-null object
Agency                       2555657 non-null object
OrgID                        2555657 non-null int64
CodeHierarchy                2555657 non-null object
RegionCode                   2555657 non-null object
RegionDescription            2555657 non-null object
ParentLocationID             2555657 non-null int64
ParentLocation               2555657 non-null object
LegacyFacilityID             2555657 non-null int64
Park                         2555657 non-null object
SiteType                     2555657 non-null object
UseType                      2555657 non-null object
ProductID                    2555657 non-null int64
EntityType                   2555657 non-null object
EntityID                     2011656 non-null float64
FacilityID                   2392917 non-null float64
FacilityZIP                  1131899 non-null object
FacilityState                2393041 non-null object
FacilityLongitude            2387314 non-null float64
FacilityLatitude             2387314 non-null float64
CustomerZIP                  2553413 non-null object
CustomerState                2555384 non-null object
CustomerCountry              2555647 non-null object
Tax                          2555657 non-null float64
UseFee                       2555657 non-null float64
TranFee                      2555657 non-null float64
AttrFee                      2555657 non-null float64
TotalBeforeTax               2555657 non-null float64
TotalPaid                    2555657 non-null float64
StartDate                    2065586 non-null object
EndDate                      1751420 non-null object
OrderDate                    2555657 non-null object
NumberOfPeople               2555657 non-null int64
Tent                         540204 non-null float64
Popup                        68379 non-null float64
Trailer                      258030 non-null float64
RVMotorhome                  181455 non-null float64
Boat                         510 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   128262 non-null float64
Van                          23645 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 23083 non-null float64
LargeTentOver9x12            10543 non-null float64
SmallTent                    7571 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.1+ GB

None

2007.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,900000,1-5589466,NPS,128,|1|70904|74324|74330|79000|74066|,HQARCH,Headquarters - Arches National Park,74330,Arches National Park,74066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,853100,1-5528933,BLM,126,|1|70901|74323|74329|74475|74083|,125,Umpqua,74329,Coos Bay,74083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,872700,1-5465616,NPS,128,|1|70904|74324|74330|79000|74066|,HQARCH,Headquarters - Arches National Park,74330,Arches National Park,74066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,874700,1-5482376,NPS,128,|1|70904|74324|74334|74065|,BRCA-1330,Bryce Canyon National Park,74324,Intermountain Region,74065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,875300,1-5489817,NPS,128,|1|70904|74324|74352|74054|,CHIC-7510,Chickasaw National Recreation Area,74324,Intermountain Region,74054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431646 entries, 0 to 431645
Data columns (total 56 columns):
HistoricalReservationID      431646 non-null int64
OrderNumber                  431646 non-null object
Agency                       431646 non-null object
OrgID                        431646 non-null int64
CodeHierarchy                431646 non-null object
RegionCode                   431646 non-null object
RegionDescription            431646 non-null object
ParentLocationID             431646 non-null int64
ParentLocation               431646 non-null object
LegacyFacilityID             431646 non-null int64
Park                         431646 non-null object
SiteType                     431646 non-null object
UseType                      431646 non-null object
ProductID                    431646 non-null int64
EntityType                   431646 non-null object
EntityID                     361369 non-null float64
FacilityID                   430609 non-null float64
FacilityZIP                  243417 non-null object
FacilityState                431646 non-null object
FacilityLongitude            431646 non-null float64
FacilityLatitude             431646 non-null float64
CustomerZIP                  430847 non-null object
CustomerState                430153 non-null object
CustomerCountry              431629 non-null object
Tax                          431646 non-null float64
UseFee                       431646 non-null float64
TranFee                      431646 non-null float64
AttrFee                      431646 non-null float64
TotalBeforeTax               431646 non-null float64
TotalPaid                    431646 non-null float64
StartDate                    423541 non-null object
EndDate                      314901 non-null object
OrderDate                    431646 non-null object
NumberOfPeople               431646 non-null int64
Tent                         122983 non-null float64
Popup                        10140 non-null float64
Trailer                      21090 non-null float64
RVMotorhome                  28357 non-null float64
Boat                         0 non-null float64
HorseTrailer                 0 non-null float64
Car                          33409 non-null float64
FifthWheel                   9441 non-null float64
Van                          3131 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 2579 non-null float64
LargeTentOver9x12            5403 non-null float64
SmallTent                    1603 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 184.4+ MB

None

2006.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,861900,1-5323272,BLM,126,|1|70901|74323|74328|74473|74081|,084,Cascades,74328,Salem,74081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,863200,1-5349207,BLM,126,|1|70901|74323|74328|74473|74081|,084,Cascades,74328,Salem,74081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,864700,1-5373816,NPS,128,|1|70904|74324|74330|79000|74066|,HQARCH,Headquarters - Arches National Park,74330,Arches National Park,74066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,865200,1-5384274,NPS,128,|1|70904|74324|74330|79000|74066|,HQARCH,Headquarters - Arches National Park,74330,Arches National Park,74066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,852282,1-5317808,BLM,126,|1|70901|74323|74328|74473|74081|,084,Cascades,74328,Salem,74081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 56 columns):
HistoricalReservationID      582 non-null int64
OrderNumber                  582 non-null object
Agency                       582 non-null object
OrgID                        582 non-null int64
CodeHierarchy                582 non-null object
RegionCode                   582 non-null object
RegionDescription            582 non-null object
ParentLocationID             582 non-null int64
ParentLocation               582 non-null object
LegacyFacilityID             582 non-null int64
Park                         582 non-null object
SiteType                     582 non-null object
UseType                      582 non-null object
ProductID                    582 non-null int64
EntityType                   582 non-null object
EntityID                     522 non-null float64
FacilityID                   582 non-null int64
FacilityZIP                  447 non-null object
FacilityState                582 non-null object
FacilityLongitude            582 non-null float64
FacilityLatitude             582 non-null float64
CustomerZIP                  581 non-null object
CustomerState                581 non-null object
CustomerCountry              582 non-null object
Tax                          582 non-null float64
UseFee                       582 non-null float64
TranFee                      582 non-null float64
AttrFee                      582 non-null float64
TotalBeforeTax               582 non-null float64
TotalPaid                    582 non-null float64
StartDate                    582 non-null object
EndDate                      545 non-null object
OrderDate                    582 non-null object
NumberOfPeople               582 non-null int64
Tent                         56 non-null float64
Popup                        2 non-null float64
Trailer                      33 non-null float64
RVMotorhome                  23 non-null float64
Boat                         0 non-null float64
HorseTrailer                 0 non-null float64
Car                          370 non-null float64
FifthWheel                   23 non-null float64
Van                          0 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 0 non-null float64
LargeTentOver9x12            0 non-null float64
SmallTent                    0 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(31), int64(7), object(18)
memory usage: 254.8+ KB

None

2012.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,1001641012,6-860128,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001950766,6-865832,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001641048,6-860269,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001950832,6-865833,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001950920,6-865834,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2464941 entries, 0 to 2464940
Data columns (total 56 columns):
HistoricalReservationID      2464941 non-null int64
OrderNumber                  2464941 non-null object
Agency                       2464941 non-null object
OrgID                        2464941 non-null int64
CodeHierarchy                2464941 non-null object
RegionCode                   2464941 non-null object
RegionDescription            2464941 non-null object
ParentLocationID             2464941 non-null int64
ParentLocation               2464941 non-null object
LegacyFacilityID             2464941 non-null int64
Park                         2464941 non-null object
SiteType                     2464941 non-null object
UseType                      2464941 non-null object
ProductID                    2464941 non-null int64
EntityType                   2464941 non-null object
EntityID                     1891878 non-null float64
FacilityID                   2305613 non-null float64
FacilityZIP                  1069397 non-null object
FacilityState                2308646 non-null object
FacilityLongitude            2302901 non-null float64
FacilityLatitude             2302901 non-null float64
CustomerZIP                  2463159 non-null object
CustomerState                2464624 non-null object
CustomerCountry              2464928 non-null object
Tax                          2464941 non-null float64
UseFee                       2464941 non-null float64
TranFee                      2464941 non-null float64
AttrFee                      2464941 non-null float64
TotalBeforeTax               2464941 non-null float64
TotalPaid                    2464941 non-null float64
StartDate                    1956415 non-null object
EndDate                      1698275 non-null object
OrderDate                    2464941 non-null object
NumberOfPeople               2464941 non-null int64
Tent                         500654 non-null float64
Popup                        68967 non-null float64
Trailer                      244930 non-null float64
RVMotorhome                  180086 non-null float64
Boat                         346 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   126535 non-null float64
Van                          19873 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 21522 non-null float64
LargeTentOver9x12            9449 non-null float64
SmallTent                    5892 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 1.0+ GB

None

2010.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,552639062,6-471766,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,552639084,2-11878832,BLM,126,|1|70901|74323|74329|74475|74083|,125,Umpqua,74329,Coos Bay,74083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,554817227,2-11906935,USFS,131,|1|70903|74312|74395|74752|74109|,F40205,LOWMAN RD - FS,74395,BOISE NF - FS,74109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,554817240,2-11906936,USFS,131,|1|70903|74312|74395|74752|74109|,F40205,LOWMAN RD - FS,74395,BOISE NF - FS,74109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,684256874,2-13504012,NPS,128,|1|70904|74268|74271|94719|,ACAD-1700,Acadia National Park,74268,Northeast Region,94719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218485 entries, 0 to 2218484
Data columns (total 56 columns):
HistoricalReservationID      2218485 non-null int64
OrderNumber                  2218485 non-null object
Agency                       2218485 non-null object
OrgID                        2218485 non-null int64
CodeHierarchy                2218485 non-null object
RegionCode                   2218485 non-null object
RegionDescription            2218485 non-null object
ParentLocationID             2218485 non-null int64
ParentLocation               2218485 non-null object
LegacyFacilityID             2218485 non-null int64
Park                         2218485 non-null object
SiteType                     2218485 non-null object
UseType                      2218485 non-null object
ProductID                    2218485 non-null int64
EntityType                   2218485 non-null object
EntityID                     1700919 non-null float64
FacilityID                   2097227 non-null float64
FacilityZIP                  965740 non-null object
FacilityState                2108714 non-null object
FacilityLongitude            2102812 non-null float64
FacilityLatitude             2102812 non-null float64
CustomerZIP                  2216901 non-null object
CustomerState                2218238 non-null object
CustomerCountry              2218467 non-null object
Tax                          2218485 non-null float64
UseFee                       2218485 non-null float64
TranFee                      2218485 non-null float64
AttrFee                      2218485 non-null float64
TotalBeforeTax               2218485 non-null float64
TotalPaid                    2218485 non-null float64
StartDate                    1791577 non-null object
EndDate                      1599736 non-null object
OrderDate                    2218485 non-null object
NumberOfPeople               2218485 non-null int64
Tent                         449084 non-null float64
Popup                        69621 non-null float64
Trailer                      214073 non-null float64
RVMotorhome                  167915 non-null float64
Boat                         196 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   116595 non-null float64
Van                          12808 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 17788 non-null float64
LargeTentOver9x12            6485 non-null float64
SmallTent                    4133 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 947.8+ MB

None

2011.csv
['HistoricalReservationID', 'OrderNumber', 'Agency', 'OrgID', 'CodeHierarchy', 'RegionCode', 'RegionDescription', 'ParentLocationID', 'ParentLocation', 'LegacyFacilityID', 'Park', 'SiteType', 'UseType', 'ProductID', 'EntityType', 'EntityID', 'FacilityID', 'FacilityZIP', 'FacilityState', 'FacilityLongitude', 'FacilityLatitude', 'CustomerZIP', 'CustomerState', 'CustomerCountry', 'Tax', 'UseFee', 'TranFee', 'AttrFee', 'TotalBeforeTax', 'TotalPaid', 'StartDate', 'EndDate', 'OrderDate', 'NumberOfPeople', 'Tent', 'Popup', 'Trailer', 'RVMotorhome', 'Boat', 'HorseTrailer', 'Car', 'FifthWheel', 'Van', 'CanoeKayak', 'BoatTrailer', 'Motorcycle', 'Truck', 'Bus', 'Bicycle', 'Snowmobile', 'OffRoadlAllTerrainVehicle', 'PowerBoat', 'PickupCamper', 'LargeTentOver9x12', 'SmallTent', 'Marinaboat']

,HistoricalReservationID,OrderNumber,Agency,OrgID,CodeHierarchy,RegionCode,RegionDescription,ParentLocationID,ParentLocation,LegacyFacilityID,...,Truck,Bus,Bicycle,Snowmobile,OffRoadlAllTerrainVehicle,PowerBoat,PickupCamper,LargeTentOver9x12,SmallTent,Marinaboat
0,931383298,2-15928266,NPS,128,|1|70904|74268|74271|94719|,ACAD-1700,Acadia National Park,74268,Northeast Region,94719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,825425314,6-685848,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,825434593,6-685924,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,826399237,6-695668,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,826399309,6-695669,Reserve America,216,|1|800|801|805|,Web,Web,800,Reserve America,805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259827 entries, 0 to 2259826
Data columns (total 56 columns):
HistoricalReservationID      2259827 non-null int64
OrderNumber                  2259827 non-null object
Agency                       2259827 non-null object
OrgID                        2259827 non-null int64
CodeHierarchy                2259827 non-null object
RegionCode                   2259827 non-null object
RegionDescription            2259827 non-null object
ParentLocationID             2259827 non-null int64
ParentLocation               2259827 non-null object
LegacyFacilityID             2259827 non-null int64
Park                         2259827 non-null object
SiteType                     2259827 non-null object
UseType                      2259827 non-null object
ProductID                    2259827 non-null int64
EntityType                   2259827 non-null object
EntityID                     1769651 non-null float64
FacilityID                   2144528 non-null float64
FacilityZIP                  974922 non-null object
FacilityState                2149139 non-null object
FacilityLongitude            2143332 non-null float64
FacilityLatitude             2143332 non-null float64
CustomerZIP                  2258053 non-null object
CustomerState                2259556 non-null object
CustomerCountry              2259817 non-null object
Tax                          2259827 non-null float64
UseFee                       2259827 non-null float64
TranFee                      2259827 non-null float64
AttrFee                      2259827 non-null float64
TotalBeforeTax               2259827 non-null float64
TotalPaid                    2259827 non-null float64
StartDate                    1837848 non-null object
EndDate                      1615284 non-null object
OrderDate                    2259827 non-null object
NumberOfPeople               2259827 non-null int64
Tent                         470255 non-null float64
Popup                        69079 non-null float64
Trailer                      227409 non-null float64
RVMotorhome                  174348 non-null float64
Boat                         208 non-null float64
HorseTrailer                 0 non-null float64
Car                          0 non-null float64
FifthWheel                   120513 non-null float64
Van                          15278 non-null float64
CanoeKayak                   0 non-null float64
BoatTrailer                  0 non-null float64
Motorcycle                   0 non-null float64
Truck                        0 non-null float64
Bus                          0 non-null float64
Bicycle                      0 non-null float64
Snowmobile                   0 non-null float64
OffRoadlAllTerrainVehicle    0 non-null float64
PowerBoat                    0 non-null float64
PickupCamper                 17902 non-null float64
LargeTentOver9x12            6286 non-null float64
SmallTent                    4105 non-null float64
Marinaboat                   0 non-null float64
dtypes: float64(32), int64(6), object(18)
memory usage: 965.5+ MB

None

### 0 non-null values


|      2006     |      2007     |      2008     |      2009     |      2010     |      2011     |      2012     |      2013     |      2014     |      2015     |      2016     |      2017     |      2018     |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| Boat          | Boat          |               |               |               |               |               |               |               |               |               |               |               |
| Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer | Horse Trailer |
| Van           |               | Van           | Car           | Car           | Car           | Car           | Car           | Car           | Car           | Car           |               |               |
| Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  | Canoe/ Kayak  |               |
| BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   | BoatTrailer   |               |
| Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    | Motorcycle    |
| Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         | Truck         |
| Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           | Bus           |
| Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       | Bicycle       |
| Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    | Snowmobile    |
| ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           | ATV           |
| PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     | PowerBoat     |               |
| Pickup Camper |               |               |               |               |               |               |               |               |               |               |               |               |
| Tent 9x12+    |               |               |               |               |               |               |               |                |              |               |               |               |
| SmallTent     |               |               |               |               |               |               |               |               |               |               |               |               |
| Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | Marinaboat    | (one?)        |

So we can safely eliminate:
*

##